h5 {
  font-family: 'Work Sans', sans-serif;
  font-size: 0.7rem;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  font-weight: 700;
  display: inline;
  color: black;
  text-align: left;
  line-height: 2;
}

h5:hover {
  color: grey;
}

.my-photo {
  border-radius: 50%;
  width: 125px;
  height: 125px;
  justify-self: end;
}
#me-container h3 {
  margin-top: 0;
}
.my-links {
  margin-top: -20px;
}

/* //////// MEDIA QUERIES //////////// */

@media (min-width: 1300px) {
  #me-container {
    width: 650px;
    max-width: 70%;
  }
}

@media (min-width: 771px) and (max-width: 1299px) {
}

@media (max-width: 1024px) {
  .image {
    margin-top: 15px;
  }
  #me-container {
    margin-left: 0;
    width: 90%;
  }
}

@media (max-width: 600px) {
  .image {
    margin: auto;
  }
  #me-container h3 {
    margin-left: 12px;
    margin-right: 5px;
  }
}
