.menu {
  height: 200px;
  position: fixed;
  top: 40px;
  left: 0;
  width: 100px;
  background: rgba(0, 0, 0, 0.9);
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  z-index: 20;
  transition: transform 0.3s ease-out;
  width: 100vw;
  background: white;
  border-right: 1px solid grey;
}

.menu ul {
  height: 80%;
  list-style: none;
  display: flex;
  padding-top: 50%;
  flex-direction: column;
  justify-content: center;
}

.menu a {
  text-decoration: none;
  color: white;
}

.menu li {
  padding: 10px;
  color: black;
  font-family: Fakt, sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
}

.menu a:focus {
  color: grey;
}

.menu.open {
  transform: translateX(0);
}

/* ///////  MOBILE ////////// */
/* @media (max-width: 600px) {
  .menu {
    width: 50%;
  }
} */
