h2 {
  font-family: 'Work Sans', sans-serif;
  color: black;
  font-weight: 300;
  letter-spacing: 0.5em;
  text-transform: uppercase;
  font-size: 1.2rem;
  text-align: center;
}

#navbar li {
  padding: 0 20px;
  display: inline-block;
}

#navbar a {
  color: black;
}

#navbar a:hover {
  color: grey;
}

#navbar {
  background: #fff;
  z-index: 100;
  display: flex;
  padding-top: 25px;
  margin-left: 5%;
  top: 0;
  position: fixed;
}

#footer {
  position: absolute;
  display: flex;
  width: 100vw;
  bottom: 0;
  justify-content: center;
  height: 100px;
  padding-top: 20px;
  background: #fff;
  z-index: 200;
}

.small.fas,
.small.fab {
  font-size: 20px;
  color: black;
}

.small.fas:hover,
.small.fab:hover {
  color: grey;
  background-color: white;
}
.small.fas.fa-envelope {
  margin-right: 7px;
}

/* //////// MEDIA QUERIES //////////// */

@media (max-width: 768px) {
  #navbar.navbar {
    margin-left: 0;
  }
  #navbar ul {
    padding-left: 0;
  }
}

@media (max-width: 600px) {
  #navbar {
    width: 100%;
    padding-top: 0;
  }
  #navbar li {
    line-height: 2;
  }

  #footer {
    width: 100vw;
    bottom: 0;
    top: unset;
    margin-top: 20px;
    position: relative;
  }
  .social {
    margin-top: 0;
  }
}
