.cards.cards-container {
  margin-top: 0;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 20px;
  overflow: auto;
}

.cards.cards-container#me-container {
  grid-template-columns: 1fr;
}
.solo-card {
  background-color: #f7f7f2;
  padding: 1.5rem;
  width: 90%;
  position: relative;
  text-align: left;
  margin: auto;
}
.inner-card {
  margin-top: 10px;
}

#indie-card {
  margin-top: 150px;
  margin-left: 35.5vw;
  width: 40rem;
  grid: none;
  overflow: visible;
  position: absolute;
}

.project-solo.escape {
  border: 1px solid grey;
}
.project-solo {
  text-align: left;
  letter-spacing: 1px;
  width: 100%;
  float: left;
  vertical-align: top;
  margin-bottom: 1rem;
  cursor: pointer;
  margin-top: -30px;
  margin-bottom: 20px;
}

.project-card {
  width: 100%;
  height: 100%;
}
.project-card.doorescape {
  border: 1px solid grey;
}

.project-card:hover,
.project-solo:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.3);
}

.project-card:hover {
  background: grey;
}
.project-card.pets:hover {
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}
.icons {
  display: flex;
  justify-content: center;
}

.fas,
.fab {
  color: rgba(0, 0, 0, 0.2);
  font-size: 1.5em;
}

.fas:hover,
.fab:hover {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 50%;
}
.fa-video:hover {
  width: 90%;
  height: 100%;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 0px;
}

strong {
  font-weight: 600;
}
ul {
  margin-top: 0;
}

/* ///////////MEDIA QUERIES/////////// */

@media (min-width: 1200px) {
  .cards {
    width: 80%;
  }
}
@media (max-width: 1199px) {
  .cards {
    width: 90%;
  }
}
@media (max-width: 1024px) {
  .cards {
    width: 60%;
    grid-template-columns: 1fr;
  }
  .cards.cards-container {
    margin-left: 20%;
  }
}

@media (max-width: 768px) {
  .icons {
    margin: 0 10px;
    margin-bottom: -30px;
  }

  .solo-card {
    width: 95%;
    height: fit-content;
    padding-bottom: 50px;
  }
  .project-card {
    width: 100%;
    height: inherit;
  }

  .cards.cards-container {
    margin-left: 10%;
  }

  .project-solo {
    margin-top: -30px;
  }

  #indie-card {
    width: inherit;
    grid-template-columns: 1fr;
    position: relative;
    margin-top: 130px;
    margin-right: 10px;
    position: fixed;
  }

  .cards.cards-container {
    height: 75vh;
    margin-bottom: 0px;
  }
  .cards.cards-container#me-container {
    height: auto;
  }
  .cards.cards-container,
  .cards.cards-container#me-container {
    grid-template-columns: 1fr;
    position: relative;
    margin: 0 10px;
  }
}
@media (max-width: 600px) {
  .cards.cards-container,
  .cards.cards-container#me-container {
    margin: 0 10px;
    margin-top: 252px;
    height: 57vh;
  }
  #indie-card {
    overflow-y: auto;
    position: relative;
    margin-left: 10px;
    width: 95%;
    margin-top: 245px;
  }
}
