* {
  box-sizing: border-box;
}
body {
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
}
/* //hide scrollbar// */
* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}

a {
  text-decoration: none;
  margin: 4px;
}

.container {
  height: 100vh;
  width: 100vw;
  position: fixed;
  overflow: hidden;
  display: grid;
  grid-template-columns: 0.75fr 1.25fr;
  grid-template-rows: 0.5fr 2.9fr 0.6fr;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  grid-template-areas:
    'navbar navbar'
    'logo-container cards-container'
    'footer footer';
}

.logo-container {
  grid-area: logo-container;
}

.cards-container {
  grid-area: cards-container;
}

.footer {
  grid-area: footer;
  height: 100px;
  background: silver;
  width: 100vw;
  position: fixed;
  bottom: 0;
}

.navbar {
  grid-area: navbar;
}

.swirl {
  bottom: 0;
  height: 100px;
  left: 0;
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  top: -10vh;
}

.aside.logo {
  cursor: pointer;
  position: fixed;
  width: 38vw;
  left: 0;
  top: 0;
  height: 100vh;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 0px;
}

@media (max-width: 770px) {
  .container {
    position: fixed;
  }
}

@media (max-width: 600px) {
  .container {
    display: flex;
    justify-content: center;
    margin: 0;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    /* below is to eliminate funky mobile safari space at bottom */
    padding-bottom: 1px;
  }
  .footer {
    visibility: collapse;
  }
  .aside.logo {
    width: 100vw;
    z-index: 20;
    background: white;
    top: 150px;
    height: 60px;
    left: 40%;
  }
}
